/* RESET */
body{
    margin: 0;
    padding: 0;
}
/* HEADER CSS*/
/* SERVICES CSS */
/* PORTFOLIO CSS */
.portfolio{
    background-color: #f8f9fa;
    padding-top: 96px;
    padding-bottom:96px ;
}
#mainhead{
    font-size: 40px;
    margin-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
}
#submainhead{
    font-size: 16px;
    margin-bottom: 56px;
    color: #6c757d;
    font-family: 'PT Serif', serif;
}

.box{
    margin: auto;
}
.card{
    width: 24%;
    background-color: white;
    text-align: center;
    display: inline-block;
    margin-bottom: 24px;
    margin-left: 12px;
    margin-right: 12px;
}
.img{
    width: 100%;
}
.text{
    margin: 24px;
}
.box{
    text-align: center;
}
.heading{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;;
}
.subheading{
    font-size: 16px;
    color: #6c757d;
    font-family: 'PT Serif', serif;
}
@media screen and (max-width:980px){
    .card{
        width: 40%;
    }
}
@media screen and (max-width:555px){
    .card{
        width: 80%;
    }
}



/* OUR AMAZING TEAM CSS */
.team{
    padding: 96px;
    text-align: center;
    background-color: #f8f9fa;
}
.headingtextteam{
    font-size: 40px;
    margin-bottom: 16px;
    font-family : 'Montserrat', sans-serif;
}
.subheadingtextteam{
    font-size: 16px;
    color: #6c757d;
    margin-bottom: 64px;
    font-family: 'PT Serif', serif;
}
.teamcard{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 48px;
}
.teamimg{
    border-radius: 50%;
    width: 224px;
    border: 8px solid rgba(0, 0, 0, 0.1);
}
.textteamcard{
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 0;
    font-family : 'Montserrat', sans-serif;
}
.ptextteamcard{
    color:#6c757d;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 16px;
    margin-top: 0;
}

.imgicons{
    width: 40px;
    margin: 8px;
    margin-top: 0;
}
.contentfootertextteam{
    line-height: 1.75;
    color: #6c757d;
    margin-top:0;
    margin-bottom:16px;
    font-family: 'Roboto Slab', serif;
    width: 63%;
    text-align: center;
}
.footertextteam{
    text-align: center;
    display: flex;
    justify-content: center;
}
@media screen and (max-width:1000px){
    .teamcard{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 48px;
    }
}
/* COMPANY CSS */
.company{
    padding: 48px;
}
.imgcompany{
    width: 200px;
    margin-left: 16px;
    margin-right: 16px;
}
.companycontent{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
@media screen and (max-width:1000px){
    .imgcompany{
        width: 130px;
        margin-left: 16px;
        margin-right: 16px;
    }
}
@media screen and (max-width:740px){
    .imgcompany{
        width: 130px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .companycontent{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
}
/* CONTACT US CSS */
/* FOOTER CSS */
.footer{
    padding:24px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.yellowtexts{
    display: flex;
    flex-direction: row;
    color: #fed136;
}
.yellowtext{
    margin-left: 12px;
    margin-right: 12px;
}
@media screen and (max-width:768px){
    .footer{
        display: flex;
        flex-direction: column;
    }
}
